body {
    background-color: lightblue;
    font-family: Arial, sans-serif;
    margin: 20px;
    color: #333333;
}

h1 {
    color: darkblue;
    text-align: center;
}

p{
   background-color: white;
}